body {

background-image: url("https://www.psdgraphics.com/file/cherry-wood.jpg");
background-size: cover;
}

/* 
#coverCard{
    background-image: image("brown card.jpg"); */






h1{
    margin-top: 4%;
    text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
 color:gold;
 font-size: 124px;
 margin-bottom: 1%;
 scroll-padding-bottom: 0px;
 
    }

    ul li{

        display: inline block;
        list-style: none;
  


   
    
grid-row-start: 1;
grid-column-start: 1;
flex-wrap: wrap;

      }
  

    #grid{
        width: 600px;
  display: grid;
  grid-template-columns: repeat(10, 100px);
  grid-template-rows: repeat(10, 100px);
  grid-gap: 10px;

    }


#start{
    cursor: pointer;
}