body {

background-image: url("chip.jpg");
background-size: cover;
align-content: center;

}

/* 
#coverCard{
    background-image: image("brown card.jpg"); */
ul li{
    list-style: none;
    padding:2%;
    grid-row-start: 1;
}


div#moves{
   width:16%;
   float:left;
   margin-left: 3%;
   position: relative;
   bottom: 49px;
}

h1{
     text-align:center;
  
    margin-left: auto;
    margin-right: auto;
 color:gold;
 font-size: 54px;
 padding-bottom: 0%;


 
    }
img#hit{
    cursor: pointer;
    height: 140px;
    width: 140px;
}
img#stay{
    cursor: pointer;
    height: 130px;
    width: 130px;
}
img#fold{
    cursor: pointer;
    height: 140px;
    width: 140px;
}

#points{
        color:black;
        font-size: 33px;
        font-family: fantasy;
    }
    #pointsD{

        color:red;
        background-color: palegoldenrod;
        font-size: 33px;
        font-family: fantasy;
        font-weight: bolder;
        text-align: center;
        text-shadow: peachpuff;
        height: 33px;
      

    }

/* #bibDiv{


      } */
#grid{

display: grid;
width: 80%;
float:right;
grid-template-columns: repeat(10, 10%);
}

  
input{display:none;}

div#grid{
  border-color: gray;
  padding-block: 2px;
  height: 322px;
  
}


    #startAgain{

     
  
        cursor: pointer;
        color: yellow;

  
        font-size: 40px;
        font-weight: bolder;
    }
  
#winning{


   background-image: url("casino-715x314.png");
}